.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #a259ff;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  body, .Contact-container {
    padding: 0 1rem !important;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}